
.tooltip {
	position: fixed;
	background-color: #f0f0b0;
	border: 2px solid #00000080;
	padding: 8px 8px 8px 8px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #00000040;
	color: #000000;
	display: none;
	z-index: 1;
	transform: translate(0%, -50%);
	opacity: 0;
	transition: opacity 0.5s;
}

.tooltip hr {
	border: 0;
    height: 1px;
    background: #000000;
}

.tooltip-left {}

.tooltip-left::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;

	width: max-content;
	max-width: 300px;
	overflow: hidden;

}

.tooltip-right {}

.tooltip-right::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}
