<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src 'self' data:; img-src ${CSP_SOURCE}; style-src ${CSP_SOURCE}; script-src 'nonce-${NONCE}';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="${RES}/vscode.css" rel="stylesheet" />
    <link href="${RES}/theme.css" rel="stylesheet" />
    <link href="${RES}/default.css" rel="stylesheet" />
    <link href="${RES}/${NAME}.css" rel="stylesheet" />
    <title>${TITLE}</title>
</head>
<body>
    <div id="idTooltip" class="tooltip">Tooltip</div>
    <div id="idContent" class="content"></div>

    <script type="module" nonce="${NONCE}" language="javascript">

        import { $ } from "${SRC}/utilities.js";
        import { Application } from "${SRC}/app.js";

        window.onload = function() {
            const app = new Application($("idContent"), "view.web");
            app.activate();
        }

        window.onresize = function() {
            const app = Application.instance;
            if (null != app && app.activated) {
                app.resize(window.innerWidth, window.innerHeight);
            }
        }
    </script>

</body>
</html>
