# git ignores
.idea
node_modules
.clang-format
.clwb
.cache
.project
.vscode/settings.json
build
dist
*~
*.vsix
examples/**/settings.json
examples/**/c_cpp_properties.json
test/temp
__pycache__
c_cpp_properties.json
