.vscode/**
.vscode-test/**
test/**
.gitignore
build/**
build*.*
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.jshintrc
**/pylintrc
dist/*.map
examples
esbuild.js
src/**
packages/**
temp/**
web/src/**
resources/views/src/**
node_modules/**
devnotes.md
eslint.config.js
jest.config.js
