.vscode/**
.vscode-test/**
test/**
.gitignore
build/**
build*.*
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.jshintrc
**/pylintrc
dist/*.map
examples
esbuild.js
src/**
node_modules/**
