
@font-face {
	font-family: "c64font";
	font-style: normal;
	font-weight: 400;
	src: url("C64_Pro_Mono-STYLE.woff2") format('woff2');
}

canvas, img {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
    margin: 0px;
    padding: 0px;
}

.body_without_margin {
    padding: 0 0 0 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.page_header {
	background: transparent;
}

.properties {
	background: transparent;
	padding-bottom: 1em;
}

.c64text {
	font-family: "c64font";
	font-size: var(--vscode-font-size);
	background: var(--c64-color-blue);
	color: var(--c64-color-light-blue);
	line-height: 1.2em;
	padding: 8px 8px 8px 8px;
	overflow: auto;
}

.content {
	font-size: var(--vscode-font-size);
	color: var(--vscode-foreground);
	background: transparent;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0em 0em 0em 0em;
}

.comment {
	color: var(--vscode-editorInfo-foreground);
}

.label {
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);

	border-radius: 4px;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.propertytable {}

.propertytable td {
	padding-left: 0.0em;
	padding-right: 1.0em;
	padding-top: 0.3em;
	padding-top: 0.3em;
}

.top-slider-container {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 50%, transparent);
    position: sticky;
  	top: 1em;
	box-shadow: 0 2px 6px color-mix(in srgb, var(--vscode-editor-background) 80%, transparent);
}

.top-slider {
	padding-top: 1.25em;
	padding-bottom: 0.0em;
	padding-left: 1em;
	padding-right: 1em;
}
